@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?10si43');
    src: url('../fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?10si43') format('truetype'), url('../fonts/icomoon.woff?10si43') format('woff'), url('../fonts/icomoon.svg?10si43#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Icons */

.icon-chat_bubble_outline:before {
    content: "\e0cb";
}

.icon-shopping_basket:before {
    content: "\e8cb";
}

.icon-store_mall_directory:before {
    content: "\e563";
}

.icon-autorenew:before {
    content: "\e863";
}

.icon-instagram:before {
    content: "\f16d";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}


/* Styles */

.menu {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 100%;
    background: rgba(47, 53, 79, 0.9);
    height: 100vh;
    transform: translateY(-50px);
    transition: 0.3s transform, 0.3s opacity;
    will-change: transform;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu li {
    border-top: 1px solid #9194a1;
}

.menu li:last-child a {
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.7em;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
}

.header-logo {
    display: inline-flex;
    width: 150px;
    height: 40px;
    background: url("../assets/images/mini-logo-bookmark.svg") no-repeat center;
    background-size: contain;
}

.menu-open {
    user-select: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    cursor: pointer;
    background: url("../assets/images/icon-hamburger.svg") no-repeat center;
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked~.header {
    background: rgba(47, 53, 79, 0.9);
}

.menu-checkbox:checked~.header .menu-open {
    background-image: url("../assets/images/icon-close.svg");
}

.menu-checkbox:checked~.header .header-logo {
    background-image: url("../assets/images/logo-drk.png");
}

.menu-checkbox:checked~.header .menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 1024px) {
    .menu {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        position: initial;
        height: auto;
        background: initial;
    }
    .menu a {
        color: #252b46;
    }
    .menu li {
        border: none;
    }
    .menu li:last-child a {
        border: none;
        border-radius: 0.5em;
        margin-top: 0;
        padding: 0.7em 2em;
        background: #007AFf;
        color: #fff;
        margin-left: 2em;
    }
    .menu ul {
        display: flex;
    }
    .menu-open {
        display: none;
    }
}

.header {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    text-align: center;
    padding: 4em 0;
}

.hero-image {
    max-width: 100%;
}

.hero-buttons {
    padding-top: 1em;
}

@media screen and (min-width: 1024px) {
    .hero {
        text-align: left;
        padding: 1em 0;
    }
    .header-logo {
        display: inline-flex;
        width: 150px;
        height: 40px;
        background: url("../assets/images/logo-bookmark.svg") no-repeat center;
        background-size: contain;
    }
    .hero-grid {
        display: grid;
        align-items: center;
        grid-template-columns: 450px 1fr;
        grid-template-areas: "content image";
    }
    .hero-image-container {
        grid-area: image;
        position: relative;
        top: 50px;
        text-align: center;
    }
    .hero-content {
        grid-area: content;
    }
}

.tabs {
    margin-top: 2em;
    border-top: 1px solid #9194a1;
}

.tabs-link {
    border-bottom: 1px solid #9194a1;
}

.icon-wrap {
    font-size: 37px;
    color: #00d2b5;
    padding: 10px;
    display: grid;
    align-items: center;
}

.tabs-content {
    display: none;
    flex-direction: column;
}

.tabs-content img {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.tabs-grid {
    margin-top: 4em;
}

.tabs label {
    padding: 1em 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.tabs label:after {
    display: none;
    content: "";
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 0;
    transform: translateX(50%);
    box-shadow: inset 0 -15px 0px -10px #00d2b5;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #00d2b5
}

.swiper-container {
    width: 65%;
    height: 100%;
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    border-radius: 100%;
    width: 120px;
    margin: 0 auto;
    padding-top: 61px;
}

#first_testimonial,
#second_testimonial,
#third_testimonial {
    font-family: sans-serif;
    font-style: italic;
    color: #00d2b5;
    padding-top: 30px;
}

#first_person,
#second_person,
#third_person {
    font-family: sans-serif;
    font-style: italic;
    color: #007AFf;
}

.about-text {
    text-align: left;
    padding: 26px;
    width: 500px;
}

.input-control {
    display: grid;
    outline: none;
    justify-content: flex-start;
}

.u-form {
    width: 450px;
    margin: 0 auto;
    padding: 29px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.form-title {
    color: #00d2b5;
    display: flex;
    justify-content: start;
    font-size: larger;
    align-items: center;
    margin: 5px;
}

.text-black {
    font-weight: 100;
    text-align: initial;
    padding: 10px;
    font-size: smaller;
}

.form-group {
    display: grid;
}

.form-control {
    height: 40px;
    border-radius: 7px;
    outline: none;
    width: 441px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 313px;
    margin: 0 auto;
}

.form-control:active,
.form-control:focus {
    border-color: #00d2b5;
}

figure {
    position: relative;
    list-style: none;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5;
}

figure:before {
    left: 0;
    font-size: 20px;
    top: -.3rem;
    font-family: "icomoon";
    content: "\e5ca";
    position: absolute;
}

figure:before {
    color: #fff;
}

figure:before {
    color: #8bc34a;
}

figure:before {
    color: #00d2b5;
}

.tabs input {
    display: none;
}

.tabs input[id="bookmarking"]:checked~ul [for="bookmarking"]:after {
    display: block;
}

.tabs input[id="bookmarking"]:checked~.tabs-grid #tab-bookmarking {
    display: flex;
}

.tabs input[id="searching"]:checked~ul [for="searching"]:after {
    display: block;
}

.tabs input[id="searching"]:checked~.tabs-grid #tab-searching {
    display: flex;
}

.tabs input[id="sharing"]:checked~ul [for="sharing"]:after {
    display: block;
}

.tabs input[id="sharing"]:checked~.tabs-grid #tab-sharing {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .about-wrapper {
        display: flex;
    }
    .tabs {
        border-top: none;
        text-align: left;
    }
    .tabs ul {
        display: flex;
        justify-content: center;
    }
    .tabs label {
        padding: 2em 2em;
    }
    .tabs label:after {
        width: 100%;
        transform: translateX(0);
    }
    .tabs img {
        margin-right: 5em;
        margin-bottom: 0;
    }
    .tabs-content {
        flex-direction: row;
        align-items: center;
    }
}

.business {
    background: #f8f8f8;
}

.about {
    background: #e7e7e7;
}

.form {
    margin: 0 auto;
    margin: auto;
    background: #f8f8f8;
}

.features {
    text-align: center;
    padding: 3em 0;
}

.features .u-wrapper>.u-p {
    max-width: 580px;
    margin: 0 auto;
}

.download {
    text-align: center;
    padding: 3em 0;
}

.download .u-wrapper>.u-p {
    margin-bottom: 3em;
    max-width: 500px;
    margin: auto;
}

.download-grid {
    margin-top: 3em;
    display: grid;
    grid-row-gap: 2em;
    margin: 0 1em;
}

.download-item {
    box-shadow: 0 10px 11px -5px rgba(83, 104, 223, 0.3);
    border-radius: 1em;
    padding: 1.5em;
    padding-top: 2.5em;
    background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
}

.download-item .u-p {
    margin-bottom: 4em;
    margin-top: 0.5rem;
}

.download-item .u-h3 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.testimonial-img {
    border-radius: 100%;
    width: 120px;
}

.interactive-img {
    width: 500px;
}

.about-img {
    padding: 35px;
    width: 500px;
}

#loading {
    display: none;
}

@media screen and (min-width: 1024px) {
    .download-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
        padding-bottom: 1em;
    }
    .download-item:nth-of-type(2) {
        top: 4em;
        position: relative;
    }
    .download-item:nth-of-type(3) {
        top: 7em;
        position: relative;
    }
}

.carousel {
    text-align: left;
    max-width: 580px;
    margin: 2em auto;
}

.carousel-content[open] .carousel-header {
    border: none;
}

.carousel-header {
    padding: 1.5em 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0.9em;
}

.carousel-header:focus {
    outline: 0;
}

@media screen and (max-width: 600px) {
    .about-text {
        padding: 0px;
        width: 250px;
    }
    .about-img {
        padding: 0;
        width: 250px;
    }
    .u-form {
        width: 240px;
    }
    .form-control {
        width: 240px;
    }
    .features {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .carousel {
        border-top: 1px solid #e5e5e5;
    }
}

.questions {
    padding: 0em 0 8em;
    text-align: center;
}

.questions .u-wrapper>.u-p {
    max-width: 580px;
    margin: auto;
}

.form .u-button {
    margin: 0;
}

.form-input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    outline: 0;
}

.footer {
    background: #252b46;
    text-align: center;
    padding: 3em 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #252b46;
    margin: 0;
    font-size: 18px;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.u-wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 1em;
}

.u-h1,
.u-h2,
.u-h4 {
    font-size: 2em;
    font-weight: 500;
}

.u-h2 {
    font-size: 1.5em;
}

.u-h4 {
    font-size: 1.3em;
    margin-top: 0.5em;
}

.u-p {
    color: #9194a1;
    line-height: 2;
    font-size: 0.8em;
}

.u-button {
    background: #00d2b5;
    color: #fff;
    padding: 1em 1em;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 0.5em;
    margin-left: 0.5em;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 5px 10px -5px #00d2b5;
}